<nav>
	<a href="{{ site.baseurl }}/">
		<h1>{% if site.title %}{{ site.title }}{% else %}{{ site.title | default: site.github.repository_name }}{% endif %}
		</h1>
	</a>
	<p>
		{% if site.subtitle %}{{ site.subtitle }}{% else %}{{ site.subtitle | default: site.github.project_tagline }}{% endif %}
	</p>
	<h5>
		<p>
		{% if site.nav_link_one_link %}<a href="{{ site.nav_link_one_link }}">{% else %}<a href="{{ "#" }}">{% endif %}
		{% if site.nav_link_one_name %}{{ site.nav_link_one_name }}</a>{% else %}{{ "Setup in _config.yml" }}</a>{% endif %}
		<br>
		{% if site.nav_link_two_link %}<a href="{{ site.nav_link_two_link }}">{% else %}<a href="{{ "#" }}">{% endif %}
		{% if site.nav_link_two_name %}{{ site.nav_link_two_name }}</a>{% else %}{{ "x" }}</a>{% endif %}
		<br>
		{% if site.nav_link_three_link %}<a href="{{ site.nav_link_three_link }}">{% else %}{% endif %}
		</p>
	</h5>

</nav>
